<% @pokemon.each do |poke| %>
  <div class="pokemon-display pokemon col-md-3 img-circle" ng-show="isShown(<%=poke.id%>)">
    <div class="poke-text">
      <p class="big_green first-stat">attack: <%=poke.attack%></p>
      <p class="big_green">sp attack: <%=poke.special_attack%></p>
      <p class="big_green">defense: <%= poke.defense %></p>
      <p class="big_green">sp defense: <%= poke.special_defense %></p>
      <p class="big_green">speed: <%=poke.speed%></p>
      <p class="big_green">hit points: <%= poke.hit_points %></p>
      <% if current_user.team.full? %>
        <p class="full-team">Your Team is Full!</p>
      <% else %>
        <%= link_to "Add to Team", add_team_path(poke: poke), method: :put, class: "add-#{poke.name}-to-team" %>
      <% end %>
    </div>
  </div>
  <%= image_tag "#{poke.image}", class: "pokemon-display col-md-3 img-circle pokemon", data: {"ng-mouseEnter": "showStats(#{poke.id})", "ng-hide": "isShown(#{poke.id})"} %>
<% end %>
