<%= form_for("butt") do |f| %>
  <%= "Change your Username:" %>
  <br>
  <ul><li><%= f.label :username%>
  <%= f.text_field :username, placeholder: "Current Name"  %>
  </li>
  <br>
  <li><%= f.label :description%>
  <%= f.text_field :description, placeholder: "Current Description"  %>
  </li></ul>
<br>

  <%= "Change your Contact info:" %>
  <br>
  <ul><li><%= f.label :email%>
  <%= f.text_field :email, placeholder: "Current Email"  %>
  </li>

  <br>
  <li><%= f.label :phone_number%>
  <%= f.text_field :phone_number, placeholder: "Current Phone Number"  %>
  </li>

  <br>
  <li><%= f.label :address%>
  <%= f.text_field :address, placeholder: "Current Address"  %>
  </li>
  <br>

  <li><%= f.label :address%>
  <%= f.text_field :address, placeholder: "Current Address"  %>
  </li></ul>

  <div data-garment="<%= "id" %>">

  <%= f.label :favorite_body_part%>
    <%= select("garment_", "retire_updater", ["butt", "arm", "neckbeard"].uniq, {include_blank: false}) %>
  </div>
  <%= f.submit "Submit" %>
<% end %>
