<!DOCTYPE html>
<html>
  <head>
    <title>Reader</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


      </head>
        <div id="header">
          <h1>Reader Me(e)ter</h1>
          <h3>Current Topic</h3>
        </div>

        <div id="nav">
          <%= render "layouts/nav" %>
        </div>

        <div id="section">
          <%= yield %>
        </div>

        <div id="footer">
          Contact Us
        </div>
      </body>
    </html>
